* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  scrollbar-width: none;
  scroll-behavior: smooth;

  ::view-transition-old(router-view) {
    animation:
      90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
      300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
  }

  ::view-transition-new(router-view) {
    animation:
      210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
      300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
  }
}

html,
body {
  height: 100dvh;
}

a {
  text-decoration: none;
}

form {
  .form-control {
    width: 100%;
  }
  display: flex;
  flex-direction: column;
}

textarea {
  min-height: 100px;
}

#app {
  height: 100%;
  width: 100%;
}

.card {
  height: fit-content;
  max-width: 20rem;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(30px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-30px);
  }
}
